@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.book-card {
    border: 1px solid #bfbbbb !important;
    width: 16% !important;
    border-radius: 5px !important;
    margin-top: 30px !important;
    margin-left: 30px !important;
}

.book-image-container {
    padding: 10px;
}

.book-image {
    padding: 10px !important;
}

.book-content {
    font-size: 11px;
    position: absolute;
    width: 100%;
    top: 5rem;
    text-align: center;
    color: white;
    opacity: 0;
    transition: all .5s;
    font-family: 'EB Garamond', serif;
}

.book-content h3, p{
    font-family: 'EB Garamond', serif;
    margin: 5px;
    font-weight: 600;
    font-size: 12px;
}

.book-card:hover .book-content{
    opacity: 1;
    transform: translate(0%, 30%);
    cursor: pointer;
}

.book-card{
    margin-bottom: 0 !important;
}

.book-card:hover .book-image{
    filter: blur(1px) brightness(15%) !important;
}

.request-book-card {
    width: 35% !important;
    margin-top: 30px !important;
    margin-left: 30px !important;
}

.request-book-card:hover .book-content{
    opacity: 1;
    transform: translate(0%, 30%);
    cursor: pointer;
}

.request-title {
    margin-top: 1rem !important;
    margin-left: 6rem;
}

.request-book-card:hover .book-image{
    filter: blur(1px) brightness(15%) !important;
}